Q1

In [1]:
s1 = "Gajendra Patle" # here in s1 variable contains string datatype
l1 = [1,2,3,4,5,"Gajendra", True, (12,34,56) ] #In l1 contains list of various maultiple datatypes 
f1 = 123.123 #In f1 contains the decimal point number which is float datatype
t1 = (12,True,(5+6j)) #In t1 contains multiple datatypes which is known as tuple datatypes, 
#open n closed by round brackets.

In [2]:
type(s1)

str

In [3]:
type(l1)

list

In [5]:
type(f1)

float

In [6]:
type(t1)

tuple

Q2

In [8]:
var1 = ''

In [9]:
type(var1)

str

In [10]:
var2='[DS,ML,Python]'

In [11]:
type(var2)

str

In [11]:
var3=['DS', 'ML','Python']

In [12]:
type(var3)

list

In [13]:
var4=1

In [14]:
type(var4)

int

Q3

In [32]:
10/3 #its an Arithmetic Divison Operator which can divide the two number 
#and give the quotient as output

3.3333333333333335

In [25]:
10%3#Its a Arithmetic Modulus Operator gives the 
#reminder as an output

1

In [2]:
10//3 #Its a Arithetic floor divison Operator which
#gives the output nearest to the whole number

3

In [19]:
10**3 #Its a Arithemtic Expoentiation Operator
#here which can multiply the object like 10*10*10 = 1000.

1000

Q4

In [20]:
l1 = [1,2,3,4,"gaj", 34.34, True, (5+6j), "patle", 5]
for i in l1:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
gaj
<class 'str'>
34.34
<class 'float'>
True
<class 'bool'>
(5+6j)
<class 'complex'>
patle
<class 'str'>
5
<class 'int'>

Q5

In [29]:
10%5

0

In [52]:
a = int(input("a ="))
b = int(input("b ="))
n=0
while a % b == 0 :
    a = a/b
    n+=1
    if(n > 0):
        print("Number a & b are Purely divisible & divided by 1 times",{n})
    else:
        print("Number a & b are not divisible")

a = 12
b = 2

Number a & b are Purely divisible & divided by 1 times {1}
Number a & b are Purely divisible & divided by 1 times {2}

Q6

In [18]:
list1 = [12,13,9,8,7,21,27,99,24,31,30,47,49,60,63,51,44,65,56,78,67,6,3,39,42]

for i in list1:   
    if i%3==0:
        #print(i)
        print(i,"Element is divisible by 3")
    else:
        #print(i)
        print(i,"Element is not divisble by 3")

12 Element is divisible by 3
13 Element is not divisble by 3
9 Element is divisible by 3
8 Element is not divisble by 3
7 Element is not divisble by 3
21 Element is divisible by 3
27 Element is divisible by 3
99 Element is divisible by 3
24 Element is divisible by 3
31 Element is not divisble by 3
30 Element is divisible by 3
47 Element is not divisble by 3
49 Element is not divisble by 3
60 Element is divisible by 3
63 Element is divisible by 3
51 Element is divisible by 3
44 Element is not divisble by 3
65 Element is not divisble by 3
56 Element is not divisble by 3
78 Element is divisible by 3
67 Element is not divisble by 3
6 Element is divisible by 3
3 Element is divisible by 3
39 Element is divisible by 3
42 Element is divisible by 3

Q7

Mutable Data types:- A data type which can change its object or can customize its value. 
                   Ex:- list can change its object.
                   
Immuatable Data type:- Data type which cannot its change or customized its value.
                   Ex:- tuple cannot change.

In [15]:
#Mutable Example:- in list we can see the objects can be replaceable or removable
list = ['add', 'sub']
print(list)
list[0] = 'div'
list[1] = 'multi'
print(list)

['add', 'sub']
['div', 'multi']

In [19]:
#immutable Example:- in tuple cannot change the objects
tuple = ([2,3,4], "Gajendra")
print(tuple)
tuple[0] = [0,9,8]

([2, 3, 4], 'Gajendra')

TypeError: 'tuple' object does not support item assignment

'tuple' object does not support item assignment